@import "../../styles/variables/variables";

.item{
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  .poster {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 30px;
    background: url("../../img/slider1.jpg") no-repeat center;
    width: 285px;
    height: 437px;
    position: relative;
    .default-slider-btn-hide {
      display: none;
    }
    &:hover .default-slider-btn-hide {
      display: block;
      position: absolute;
      top: 50%;
      left: calc(50% - 65px);
    }
    .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .title-movie{
      position: absolute;
      bottom: 10px;
      font-family: $primary-font;
      color: $title-text-color;
      text-transform: uppercase;
      margin-left: 30px;
      margin-bottom: 20px;
      h6{
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 5px;
      }
      p{
        font-size: 12px;
      }
    }

  }
}
.slick-track{
  display: flex;
}