//main color
$primary-color: #233a50;
// Nav menu
$placeholder-text-color: #abb7c4;
$title-text-color: #ffffff;
$button-active: #dcf836;
// Button color
$red-button: #dd003f;

//fonts
$primary-font: 'Dosis', sans-serif;
$additional-font: 'Nunito', sans-serif;

// Head Category color
$action-cat: #1692bb;
$adventure-cat: #ec5a1a;
$fantasy-cat: #f5b50a;

// Default Button
.defaultButton {
  background-color: $red-button;
  padding: 11px 25px;
  border-radius: 20px;
  font-family: $primary-font;
}
.btn-more-detail {
  max-width: 130px;
  width: 100%;
  a {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
  }
}

h2{
  font-family: $primary-font;
  font-size: 24px;
  color: $title-text-color;
  text-transform: uppercase;
}
